.hidden {
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 0.75s ease-out, transform 0.75s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.75s ease-out, transform 0.75s ease-out;
}
